<!--Main Navigation-->
                    <nav id="nav-main">
                        <ul>
                            <li>
                                <a routerLink="/Banner">Home</a>
                            </li>
                            <li>
                                <a routerLink="/About">About</a>
                            </li>
                            <li>
                                <a routerLink="/Gallery">Gallery</a>
                            </li>
                            <li>
                                <a routerLink="/Services">Services</a>
                            </li>
                            <li>
                                <a routerLink="/Testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a routerLink="/Clients">Clients</a>
                            </li>
                            <li>
                                <a routerLink="/Pricing">Pricing</a>
                            </li>
                        </ul>
                    </nav>
                    <!--End of Main Navigation-->
