
<div id="wrapper">

   <app-header></app-header>

    <!--Main Content Area-->
    <main id="content">

     <app-about></app-about>
      <app-gallery></app-gallery>
      <app-service></app-service>
      <app-testimonials></app-testimonials>
      <app-clients></app-clients>
      <app-price></app-price>


   

   
    </main>
    <!--End Main Content Area-->


    <app-footer></app-footer>

</div>